.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 40px;
}

.contact-content {
  display: flex;
  max-width: 1200px;
  margin: 20px;
}

.left-side {
  flex: 1;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-title {
  font-size: 36px;
  margin-bottom: 20px;
  /* color: #007bff; */
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

label {
  font-size: 16px;
  color: #555;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #0056b3;
}

.right-side {
  flex: 1;
  padding: 2rem;
  background-color: #f9f9f9;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left; /* Adjusted to left-align the content */
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
  /* color: #007bff; */
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.contact-info {
  font-size: 20px;
  margin-top: 20px;
}

.contact-info strong {
  color: #007bff;
}
